.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
  top: 0;
  border-bottom: 1px solid lightgray;
  padding: 8px 24px;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
}
.nav-list-item{
    list-style: none;
}